.invalido {
  border: 2px solid #b91c1c;
  animation: invalid linear 0.4s;
}

@keyframes invalid {
  0% {
    transform: translateX(0);
  }
  33% {
    transform: translateX(5px);
  }
  66% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.fa-regular {
  color: #6d6d6d;
  cursor: pointer;
  transition: all 0.2s ease-in;
  width: 20px;
  text-align: center;
}

.fa-regular:hover {
  opacity: 0.7;
}
